body {
 /* Variables */
  --primary-background: linear-gradient(0deg, lightpink 1%, lightcyan);
  overflow-x: hidden;
  background: var(--primary-background);
  position: absolute;
  z-index: -1000;
  height: 100%;
  width: 100%;
}

header {
  position: static;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
}

/* Navigation Bar */
nav {
}


.title-content-box {
  position: relative;
  background: white;
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 700px;
  align-items: center;
  height: 400px;
  margin-top: 40px;
  margin-bottom: 120px;
}

h1.title-text {
  margin-top: 80px;
  color: skyblue;
  font-family: inter;
  font-weight: 700;
  font-size: 48px;
  align-self: center;
  text-align: center;
  width: 550px;
}

h2.title-text {
  color: gray;
  font-family: inter;
  font-weight: 500;
  font-size: 21px;
  align-self: center;
  text-align: center;
  width: 600px;
}

.manage-pizza-link {
  all: unset;
  margin-top: 10px;
  border: 1px solid lightblue;
  border-radius: 5px;
  height: 30px;
  width: 150px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 100;
  text-align: center;
}

/* Menu */

.menu-content-box {
  position: relative;
  background: white;
  border: 1px solid black;
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 450px;
  height: 1200px;
  margin-top: 40px;
  margin-bottom: 100px;
}

.menu-logo-box {
  border-bottom: 1px solid black;
  align-content: center;
  text-align: center;
  height: 180px;
  width: 100%;
}

h1.menu-logo-text {
  margin-top: 70px;
  position: absolute;
  color: indianred;
  font-family: inter;
  font-weight: 900;
  font-size: 20px;
  align-self: center;
  text-align: center;
  width: 100%;
}

.menu-topping-box {
  position: relative;
  margin-left: 40px;
  margin-right: 40px;
}

/* Main content */

